{% extends "template.html" %}

{% block content %}
<p>V3.0 (23-05-2016) Het duurde langer dan verwacht maar de nieuwe versie met verbetering wat betreft zomer en wintertijd is uitgebracht
    en daarnaast wordt ook een simpelere agenda weergave ondersteund.
</p>
<p>V2.1 (09-02-2016) gebruikt nu de nieuwe versie van de Rooster website en er zijn wat fixes en optimalisaties uitgevoerd voor gebruik op de nieuwe witness. Voorlopig hoef je nog niks
veranderen in de instellingen. Het plan is ook dat er een versimpelde weergave wordt gemaakt (veel gevraagd verzoek *alle feedback is welkom).
Let trouwens op dat je timezone instellingen goed staan. Controleer dus goed of je rooster op de zelfde tijd overeenkomt. Er zijn wat timezone issues gemeld en deze zijn bekend. Wordt aan een oplossing gewerkt. Controleer zo nu en dan de website.
</p>

<p>V2 gebruikt vanaf nu (23-07-2015) alleen nog maar https en versleuteling van gebruikersnaam en wachtwoord in de url.
    Je moet daarom alle oude configuraties van telefoon danwel pc verwijderen en een nieuwe url aanmaken op deze
    website</p>

<p>Met dit script is het mogelijk je werkrooster te importeren en synchroniseren in je
    agenda. Je hebt hiervoor nodig je witness login gegevens.</p>

<p>Disclaimer* Je login gegevens worden verwerkt door deze server. Gebruik deze tool
    dan ook alleen als je akkoord gaat met het gegeven dat je login gegevens verwerkt
    worden. (vanwege technische beperkingen is er nog geen andere mogelijkheid om hetzelfde
    te bereiken zonder witness gegevens.)</p>

<table>
    <tr>
        <td>Gebruikersnaam</td>

        <td><input type="text" name="gebruikersnaam" id="gebruikersnaam"></td>
    </tr>

    <tr>
        <td>Wachtwoord</td>

        <td><input type="password" name="wachtwoord" id="wachtwoord"></td>
    </tr>

    <tr>
        <td>Agenda detail</td>

        <td>*werkt nog niet</td>
    </tr>

    <tr>
        <td>Gedetaileerd</td>

        <td><input type="radio" name="detail" id="aan" checked></td>
    </tr>

    <tr>
        <td>Simpel</td>

        <td><input type="radio" name="detail" id="uit" ></td>
    </tr>

    <tr>
        <td><select id="opties">
            <option>
                *Kies toestel of applicatie
            </option>

            <option>
                Android
            </option>

            <option>
                iPhone
            </option>

            <option>
                *Overig
            </option>
        </select></td>
    </tr>

    <tr>
        <td><input type="button" onclick="generateLink()" value="Ga Verder"></td>
    </tr>
</table>

<p id="uitleg"></p>

{% endblock %}
