<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if title %}
    <title>KPN Roostertool - {{ title }}</title>
    {% else %}
    <title>KPN Roostertool</title>
    {% endif %}

    {% if script %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript">

    baseUrl = "kpnrooster.nl/kpn/v3/";

	function generateLink()
    {
            var user = document.getElementById("gebruikersnaam").value;
            var pass = document.getElementById("wachtwoord").value;
            var detail = document.getElementById("aan").checked;

            $.post( "encrypt", { username: user, password: pass }, function( data ) {
                 var crypt = data.results[0].crypt;
                 maakUitleg(user, pass, crypt, detail);
            });
    }

    function maakUitleg(user, pass, crypt, detail)
    {
            var uitleg = document.getElementById("uitleg");
            var checked;

            if(detail){
            checked = 0;
            }
            else {
            checked = 1;
            }

            if(user.length == 0 || pass.length == 0)
            {
                alert("Je moet wel iets hebben staan bij gebruikersnaam en wachtwoord.");
            }
            else
            {
                    var option = document.getElementById("opties").selectedIndex;
                    switch (option)
                    {
                     case 0:
                            alert("Geen geldige optie gekozen");
                            break;
                     case 1:
                            androidUrl =  baseUrl + checked + "/" + crypt;
                            var androidText = "Voor het gebruiken van de agenda op je Android toestel, moet je de volgende link openen in je browser. <br><a href='https://www.google.com/calendar/'>https://www.google.com/calendar/</a>.<br>Hiermee wordt de Google Calendar site getoond. Je moet als je nog niet ingelogd bent bij Google eerst nog inloggen.<br>Vervolgens voeg je deze url in bij agenda toevoegen via URL : <a href='https://" + androidUrl + "'>https://" + androidUrl + "</a> . Daarna ga je naar <a href='https://www.google.com/calendar/syncselect'>https://www.google.com/calendar/syncselect</a> en zorg je ervoor dat KPN Rooster aangevinkt is.<br>Soms moet je in je Agenda app dan nog bij instellingen het rooster voor weergave selecteren maar meestal werkt het al. <br /><img src='/static/android.png' height='500' width='250' alt=''/>";
                            uitleg.innerHTML = androidText;
                            break;
                     case 2:
                            iphoneUrl = "webcal://" + baseUrl + checked + "/" + crypt;
                            var iphoneText = "Voor het gebruiken van de agenda hoef je alleen de volgende link te openen in je mobiele browser. Het wordt sterk geadviseerd gebruik te maken van SSL!, dit is aan te vinken onder de agenda instellingen <a href='" + iphoneUrl + "'>"+ iphoneUrl + "</a>";
                            uitleg.innerHTML = iphoneText;
                            break;
                     case 3:
                            var overigUrl = "webcal://" + baseUrl + checked + "/" + crypt;
                            var overigText = "Voor de knutselaars die het principe van Agenda Feeds snappen kunnen deze ook toevoegen aan bijvoorbeeld hun Outlook of Windows Phone agenda. Ik zal dit hier (nog) niet beschrijven maar kan wel een link geven. <a href='" + overigUrl + "'>" + overigUrl + "</a>";
                            uitleg.innerHTML = overigText;
                            break;

                    }
            }
    }

    </script>
    {% endif %}
    <meta name="description" content="KPN Roostertool">
    <style>
        html {
        margin: 0;
        padding: 0;
        background-color: #e6e9e9;
        background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
        background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
        -webkit-font-smoothing: antialiased;
        }

        #container {
        background-color: #ffffff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
        min-height: 200px;
        max-width: 800px;
        margin: 0 auto;
        padding: 2em 2em 4em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5em;
        color: #545454;
        position: relative;
        }

        #copyright {
        position: absolute;
        bottom: 5px;
        max-width: 800px;
        height: 20px;
        font-size: 10px;
        }

        h1, h2, h3, h4, h5, h6 {
        color: #222;
        font-weight: 600;
        line-height: 1.3em;
        }

        a {
        color: #0083e8;
        }
    </style>
</head>
<body>
<div id="container">
    <img src="{{ url_for('static', filename='logo.png') }}">

    <h1>Rooster tool V2.1</h1>
    {% block content %}

    {% endblock %}
    <div id="copyright">
        &copy; Copyright Dana Kool 2015. Alle rechten voorbehouden
    </div>
</div>
</body>
</html>